# ===== BACKEND (Spring Boot) =====
backend/target/
backend/*.log
backend/.idea/
backend/*.iml
backend/resources/application.properties

# Maven / Gradle
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/build/

# ===== FRONTEND (React + Vite) =====
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ===== ENV FILES  =====
.env
.env.local
.env.development
.env.production
venv/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/

# ===== LOGS =====
*.log